/*
    Adicionando cor ao fundo do cabeçalho e ajustando o padding.
    */

    header {
        background: #fefefe;
        padding: 0;
    }

    /*
    Criando a posição da div caixa e centralizando a logo e a home na página.
    */
.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
    left: 50px;
}

#pam {
    font-size: 3em;
    display: inline-block;
    position: absolute;
    left: 90px;
    top: 45px;
    color: #FF00FF;
}

/*
    Ajustando o tamanho da logo.
    */
#logo {
    width: 300px;
    height: 350px;
    vertical-align: bottom;
}

/*
    Ajustando a posição de navegação. 
    (Absolute serve para quebrar a posição padrão de um item, podendo assim, realocar o mesmo)
    */
nav {
    position: absolute;
    top: 170px;
    right: 40px;
}

/*
    Ajustando o display dos itens da home para que fiquem alinhados um ao lado do outro. (inline)
    */
nav li {
    display: inline;
    margin: 0 0 0 15px;
}

/*
    Estilizando os itens da home.
    (A tag <a> serve como âncora(link) para outra página html)
    */
nav a {
    text-transform: uppercase;
    color: #fc00fc;
    font-size: 25px;
}
.principal-inicio {
    display: inline-block;
    position: absolute;
    left: 220px;
    top: 150px;
}
#logo-studio {
    width: 170px;
    height: 170px;
}

/*
    Com o hover é possível interagir com o usuário a partir de onde estiver o mouse.
    Por exemplo, aplicar cor e sublimar o menu de navegação.
    */

nav a:hover {
    color: aqua;

}

/* 
    Alterando a largura do conteúdo main da contact page.
    */

main {
    width: 940px;
    margin: 0 auto;
}

body {
    background: linear-gradient(#ffe4e4, #f3c1c1, #f59e9e);
}

/* 
    Criando uma margem para espaçamento entre o formulário, header e footer.
    */

form {
    margin: 40px 0;
}

/* 
    Alterando a forma de exibição das etiquetas e dos inputs, assim como o espaçamento,
    tamanho da fonte e margem.

    Tratando-se de dados e inputs para melhor visualização do código é melhor utilizar a tag <fieldset>.
    Dentro do fieldset não usa-se a tag <p>, a mesma é substituida pela tag <legend>.
    */

form label, form legend {
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
    cursor: pointer;
}


.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
    cursor: pointer;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: rgb(223, 75, 149);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: #fefefe;
    border-radius: 5px;
    transition: 1s all;
}

.enviar:hover {
    background: rgb(206, 13, 109);
    transform: scale(1.2);
    cursor: pointer;
}

/* 
    Utiliza-se a tag <table> para organizar itens de tabela, como por exemplo o horário de funcionamento da empresa.
    Assim como as outras páginas possuem head, body e footer, a table também tem.
    */

table {
    margin: 20px 350px 40px;
}

thead {
    background: black;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    padding: 8px 15px;
}

#outros-horarios {
    font-style: italic;
    font-weight: bolder;
    margin-bottom: 35px;
    text-align: center;
}

/*
    Estilizando o rodapé da página com a logo, background e copyright.
    */

    footer {
        text-align: center;
        background: url("https://img.freepik.com/fotos-gratis/texure-rosa_95678-41.jpg?t=st=1656537294~exp=1656537894~hmac=bdda1d711b2c17a125fc2dcaf4de8aaed6d6af75047b5c0d9d6be32e1991fe53&w=1380");
        background-size: 100%;
        padding-top: 1%;
        padding-bottom: 1%;
    
    }
    
    #logo_rodape {
        width: 150px;
        height:150px;
    }
    
    .copy {
        font-size: 13px;
        margin-top: 2%;
        text-align: center;
    }
