/*
    Adicionando cor ao fundo do cabeçalho e ajustando o padding.
    */

header {
    background: #fefefe;
    padding: 0;
}

body {
    font-family: 'rufina', sans-serif;
}

/*
    Criando a posição da div caixa e centralizando a logo e a home na página.
    */
.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
    left: 50px;
}

#pam {
    font-size: 3em;
    display: inline-block;
    position: absolute;
    left: 90px;
    top: 45px;
    color: #FF00FF;
}

/*
    Ajustando o tamanho da logo.
    */
#logo {
    width: 300px;
    height: 350px;
    vertical-align: bottom;
}

/*
    Ajustando a posição de navegação. 
    (Absolute serve para quebrar a posição padrão de um item, podendo assim, realocar o mesmo)
    */
nav {
    position: absolute;
    top: 170px;
    right: 40px;
}

/*
    Ajustando o display dos itens da home para que fiquem alinhados um ao lado do outro. (inline)
    */
nav li {
    display: inline;
    margin: 0 0 0 15px;
}

/*
    Estilizando os itens da home.
    (A tag <a> serve como âncora(link) para outra página html)
    */
nav a {
    text-transform: uppercase;
    color: #fc00fc;
    font-size: 25px;
}
.principal-inicio {
    display: inline-block;
    position: absolute;
    left: 220px;
    top: 150px;
}
#logo-studio {
    width: 170px;
    height: 170px;
}

/*
    Com o hover é possível interagir com o usuário a partir de onde estiver o mouse.
    Por exemplo, aplicar cor e sublimar o menu de navegação.
    */

nav a:hover {
    color: aqua;

}

/*
    Class Strong para os títulos importantes e itens para italico.
    A class servicos1 li possui a organização da margem dos itens.
    */

.servicos1 li {
    display: inline-block;
    margin-left: 08%;
    vertical-align: top;
    width: 30%;
    box-sizing: border-box;
    padding: 30px 20px;
    margin: 0 1.5%;
    text-align: center;
    border-radius: 10px;

}

.servicos1 {
    background: url("https://img.freepik.com/fotos-gratis/textura-aquarela-rosa-em-papel-reciclado_95678-439.jpg?t=st=1656512302~exp=1656512902~hmac=9743254e8d057fa89583757dc86566651ae0fa3f522a6390669dd8c5fb27e366&w=1480");
    background-size: 100%;
    padding-bottom: 20px;
}

/*
    hover específico para quando o mouse estiver em cima dos intes da li trocar a cor.
    */
.servicos1 li:hover {
    border-color: aqua;
    transition: 0.5 all;
}

/*
    Para aumentar a fonte do titulo de cada item para dar impressão de selecinado.
    */
.servicos1 li:hover h2 {
    font-size: 46px;
    transition: 0.5s all;
}

/*
    Troca a cor da borda quando o usuário clicar com o mouse em cima.
    */
.servicos1 li:active {
    border-color: #eeb3f3;
}

.strong {
    font-size: 40px;
    padding: 2%;
    text-align: center;
    color: #fefefe;
    text-shadow: 0 0 80px #fefefe;
}

.itens {
    font-size: 40px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 20px;
    color: #000000;
}

.fotos {
    width: 380px;
    height: 540px;
    margin-top: 2%;
    margin-bottom: 4%;
    border-radius: 30px;
    border: 2px solid #fefefe;
    box-shadow: 0 0 100px #fefefe;
}

.fotos:hover{
    border: 2px solid #000;
    transition: 0.5s all;
}

/*
    Estilizando o rodapé da página com a logo, background e copyright.
    */

footer {
    text-align: center;
    background: url("https://img.freepik.com/fotos-gratis/texure-rosa_95678-41.jpg?t=st=1656537294~exp=1656537894~hmac=bdda1d711b2c17a125fc2dcaf4de8aaed6d6af75047b5c0d9d6be32e1991fe53&w=1380");
    background-size: 100%;
    padding-top: 1%;
    padding-bottom: 1%;

}

#logo_rodape {
    width: 150px;
    height:150px;
}

.copy {
    font-size: 13px;
    margin-top: 2%;
    text-align: center;
}

    /*
    Adaptando a o site para desktop e mobile.
    */

    @media screen and (max-width: 480px) {
        .body, .caixa {
            width: auto;
        }

        .caixa {
            left: auto;
        }

        #logo {
            position: relative;
            width: 200px;
            height: 250px;
            left: 58%;
            bottom: 20%;
        }

        #logo-studio {
            position: relative;
            width: 100px;
            height: auto;
            bottom: 5%;
        }

        #pam {
            position: absolute;
            left: 10%;
            font-size: 40px;
        }

        .naveg {
            position: relative;
            text-align: center;
            right: 290px;
            margin: 10px 0px 10px 10px;
        }

        nav {
            display: inline-flex;
            position: absolute;
            top: 120px;
        }

        nav a {
            display: block;
            font-size: 15px;
            text-align: center;
        }

        nav li {
            display: block;
            position: absolute;
        }
    }