/*
    Colorindo o fundo e organizando a class principal.

    */
        .principal {
            background: #fc649e;
        }

        .principal-inicio {
            display: inline-block;
            position: absolute;
            left: 220px;
            top: 150px;
        }

        .crie {
            font-size: 40px;
            font-style: italic;
            color: aliceblue;
            font-style: oblique;
            display: inline-block;
            position: absolute;
            text-align: center;
            left: 650px;
            padding-top: 30px;
        }

        #logo-studio {
            width: 170px;
            height: 170px;
        }

        .principal-fotos {
            padding: 5%;
            background: url("https://img.freepik.com/fotos-gratis/textura-aquarela-rosa-em-papel-reciclado_95678-439.jpg?t=st=1656512302~exp=1656512902~hmac=9743254e8d057fa89583757dc86566651ae0fa3f522a6390669dd8c5fb27e366&w=1480");
            background-size: 100%;

        }
/*
    Estilização das fotos.

    */
        #foto {
            width: 600px; height: 704px;
            padding: 15px;
        }
        #foto2 {
            width: 662px;
            height: 704px;
            padding: 10px;
        }
        #foto3 {
            width: 662px;
            height: 704px;
            padding: 10px;
        }
        
/*
    Colorindo o texto /  Alinhando ao centro e alterando o tamanho da fonte.

    */
        em {
            color:#3d001ff5;
        }

/*
    Alinhando ao centro cada parágrafo.

    */
        p {
            text-align: center;
        }
/*
    Estilizando a class dos serviços.

    */
        .itens1 {
            font-style: italic;
            font-size: 150%;
        }

        h2 {
            text-align: center;
            font-size: 40px;
        }

        .servicos {
            background: #eeb3f3;
            vertical-align: bottom;
        }

        .ul_pagina_principal {
            display: inline-block;
            vertical-align:middle;
            padding: 40px;
            position: absolute;
            left: 820px;
        }

        #foto_serv {
            width: 250px;
            position: relative;
            left: 1100px;
            vertical-align: bottom;
        }

        