/*
    Colorindo o fundo que envolve o body.

    */
        body {
            background: #000000;
        }
/*
    Colorindo o fundo e organizando a class principal.

    */
        .principal {
            background: #fc649e;
        }

        .principal-inicio {
            text-align: center;
            padding: 7%;
            background: #eeb3f3;
            font-size: 35px;
            font-style: italic;
            text-align: center;
        }

        #logo-studio {
            width: 800px;
            height: 700px;
        }

        .principal-fotos {
            padding: 5%;
        }
/*
    Estilização das fotos.

    */
        #foto {
            width: 600px; height: 704px;
            padding: 15px;
        }
        #foto2 {
            width: 662px;
            height: 704px;
            padding: 10px;
        }
        #foto3 {
            width: 662px;
            height: 704px;
            padding: 10px;
        }
        
/*
    Colorindo o texto /  Alinhando ao centro e alterando o tamanho da fonte.

    */
        em {
            color:#3d001ff5;
        }

/*
    Alinhando ao centro cada parágrafo.

    */
        p {
            text-align: center;
        }
/*
    Estilizando a class dos serviços.

    */
        .itens {
            font-style: italic;
            font-size: 150%;
        }

        h2 {
            text-align: center;
            font-size: 40px;
        }

        .servicos {
            background: #be59ec;
        }

        ul {
            display: inline-block;
            vertical-align: top;
            padding: 40px;
            position: absolute;
            left: 820px;

        }

        #foto_serv {
            width: 250px;
            position: relative;
            left: 1100px;
        }