/*
    Colorindo o fundo que envolve o body.

    */
    body {
        background: #fa126bb9;
    }

/*
    Colorindo o texto /  Alinhando ao centro e alterando o tamanho da fonte.

    */
    h1 {
        color:#3d001ff5;
        text-align: center; font-size: 60px;
    }
    em {
        color:#3d001ff5;
    }
/*
    Estilização das fotos.

    */
    #foto {
        width: 600px; height: 704px;
    }
    #foto2 {
        width: 662px;
        height: 704px;
    }
    #foto3 {
        width: 662px;
        height: 704px;
    }


/*
    Alinhando ao centro cada parágrafo.

    */
    p {
        text-align: center;
    }

    #beleza {
    font-size: 25px;
}